{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 100,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@nx/(.*)$",
    "^@nrwl/(.*)$",
    "^vite(.*)$",
    "^react$",
    "^react-(.*)$",
    "^@?\\w",
    "^(@|components/)",
    "^(@|containers/)",
    "^(@|utils/)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
